**/.git
**/.gitignore
**/node_modules
**/dist
public/dist
public/vendor
bin/extract-sbom
.env
.env.*
*.log
coverage
tests
.vscode
.idea
.DS_Store
**/*.tsbuildinfo
docs
README.md
NOTICE
THIRD_PARTY_LICENSES.md
LICENSE
docker-compose.yml
.github
